@tailwind base;
@tailwind components;
@tailwind utilities;

/* NOTE: If you're using a plugin that supports this, keep it.
   Otherwise, it's safe to remove. */
@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --primary-blue: #0779d1;
    --background: 0 0% 100%;
    --foreground: 0 0% 15%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --toggle: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 30%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.625rem;
    --dragger: 220 14% 75%;

    /* Feed Icon Colors */
    --feed-icon-1: 12 76% 61%;
    --feed-icon-2: 173 58% 39%;
    --feed-icon-3: 197 37% 24%;
    --feed-icon-4: 43 74% 66%;
    --feed-icon-5: 27 87% 67%;

    --sidebar: #f8f8f7;
    --content: #ffffff;
    --hovered: #ebebeb;
    --error: #ff0000;

    /* Highlight Colors */
    --highlight-selection-bg: #fff9d9;
    --highlight-confirmed-bg: rgba(255, 229, 100, 0.4);
    --highlight-confirmed-underline: #ffd400;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 90%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --toggle: 0 0% 70%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 80%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --sidebar: #202020;
    --content: #191919;
    --hovered: #333333;

    --highlight-selection-bg: #38381e;
    --highlight-confirmed-bg: rgba(208, 176, 7, 0.3);
    --highlight-confirmed-underline: #d0b007;
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.btn {
  @apply px-6 py-2 rounded-md text-sm font-medium transition-colors duration-300 
         bg-secondary text-secondary-foreground 
         hover:bg-secondary/80 
         dark:bg-muted dark:text-foreground 
         dark:hover:bg-muted/70 
         focus:outline-none focus:ring-2 focus:ring-ring;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--hovered);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(199, 199, 199);
  border-radius: 4px;
}

::selection {
  background-color: var(--highlight-selection-bg);
  color: inherit;
}

.bookmark-highlight {
  cursor: pointer;
}
.bookmark-highlight,
.bookmark-highlight * {
  color: inherit !important;
}

.bookmark-highlight-unconfirmed {
  background-color: var(--highlight-selection-bg);
  text-decoration: none;
}

.bookmark-highlight-confirmed {
  background-color: var(--highlight-confirmed-bg);
  text-decoration: underline;
  text-decoration-color: var(--highlight-confirmed-underline);
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}

.rw-highlight-note-icon {
  color: #666457;
}
.dark .rw-highlight-note-icon {
  color: #afafa5;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/* Line Clamp Utilities */
@layer utilities {
  .line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}
